.hero
{
    background-color: gray;
}

.background
{
background-image: url("netflix_background.jpg");
height:600px;
object-fit: cover;
inset: 0;
background-color: rgba(0,0,0,0);
position: relative;

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    }
    .nav
    {
        margin-right: 50px  ;
        display: flex;
        gap: 20px;
    }
    
    
    .nav option
    {
        background-color: black;
        color: white;
    }
    .nav select
    {
        background-color: black;
        color: white;
        width: 120px ;
        height: 30px;
        font-size: 1.1rem;
        border-radius: 5px;
    }
    
    .logo img {
    width: 140px;
    height: 80px;
    }


.nav button
{
    border-radius: 7px;
    background-color: red;
    border: red;
    font-size: 1rem;
    width: 70px;
    height: 30px;
}
.main-1
{
    height: 50px;
    color: white;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
    width: auto;
   

}
.main-1 p
{
    font-size: 25px;
   
}
.main-1 h1
{
    font-size: 60px;
    align-items: center;
    justify-content: center;
   text-align: center;
  
}
.main-1 h3
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.Email
{
    width: 400px;
    height: 40px;
    background-color: black;
    border-color: aliceblue;
    border-width: 1.5px;
    font-size: 20px;
    color: white;
}
.main-2
{
    height: 45px;
    width:200px ;
    background-color: red;
    color: white;
    font-size: 20px;
    border-color: red;
    border-radius: 6px;
}

.body-1
{
    background-color: black;
    height: 600px;
    width: auto;
    margin-top: 5px;
    color: white;
    display: flex;
    align-items: center;
    
}
.body-1m
{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.body-2
{
    background-color: black;
    height: 600px;
    width: auto;
    margin-top: 5px;
    color: white;
    display: flex;
    align-items: center;
}
.body-2m
{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    
}
.body-3
{
    background-color: black;
    height: 600px;
    width: auto;
    margin-top: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-3m
{
    font-size: 27px;
    margin-left: 80px;
    margin-top: 30px;
   
   
}
.body-4
{
    background-color: black;
    height: 600px;
    width: auto;
    margin-top: 5px;
    color: white;
    display: flex;
    align-items: center;

}
.cartoon h1
{
    color: white;
    font-size: 50px;
    
}
.cartoon h3
{
color: white;
font-size:27px ;
}
.body-5
{
    background-color: black;
    height: 800px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 2px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;  
}
.em
{
margin-left: 150px;
border-radius: 6px;
}
.Email
{
    border-radius: 5px;   
}
.FAQ__accordian {
    width: 100%;
  }
  .FAQ__title {
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 18px;
    background-color: #303030;
    border: 1px solid #303030;
    color: white;
    height: 70px;
  }
  
  .FAQ__list__container {
    border-top: 8px solid #222;
    padding: 2rem 0;
    
  }
  .FAQ__heading {
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin: 1rem 3rem;

  }
  
  .FAQ__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }
.body-6
{
    background-color: black;
    height: 400px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 2px;
    color: #ffffffb3;
    display: flex; 
    justify-content: space-evenly;
    
    
}

.body-6 ul 
{
    margin-top: 100px;
    margin-left: 0px ;
}

.body-6 ul a
{
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
    justify-content: space-evenly;
    margin-left: 0px ;
    color:  #ffffffb3;
}
.se
{ 
    background-color:black;
    margin-top: 10px;
    width:130px;
    height: 30px;
    color: #ffffffb3;
    border-radius: 6px;
    font-size: 1.1rem;

}
